version: "3"

services:
  minio:
    image: minio/minio
    volumes:
      - minio_volume:/export
    ports:
      - "9900:9000"
    environment:
      MINIO_ACCESS_KEY: minio_access_key
      MINIO_SECRET_KEY: minio_secret_key
    command: server /export
  miniomc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc config host add myminio http://minio:9000 minio_access_key minio_secret_key) do echo '...waiting...' && sleep 1; done;
      /usr/bin/mc mb myminio/mybucket --region=ap-northeast-1;
      /usr/bin/mc policy download myminio/mybucket;
      exit 0;
      "
volumes:
  minio_volume:
